<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
    <img src="/images/logo.png" class="rounded-circle" width=70>
        
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">GitHub</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user.imgUrl}}
                    <img src="{{user.imgUrl}}" class="rounded-circle" width=50>
                    {{else }}
                    <img src="/images/user.png" class="rounded-circle" width=50>
                    {{/if}}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    {{#if user.admin}}
                    <a class="dropdown-item" href="/admin">Administration</a>
                    {{/if}}
                    <hr>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
            {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id={{client_id}}">Login</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>