<div class="container">
    <div class="jumbotron text-center">
        <img src=/images/githubsdp-plus-mongodb.png> </div> <div class="container">
    </div>
    {{#if flashMessages }}
        <div class="col-sm-12 col-md-12">
          {{#if flashMessages.success }}
            <div id="success" class="alert alert-success">
              {{flashMessages.success}}
            </div>
          {{else if flashMessages.error }}
            <div id="error" class="alert alert-warning">
              {{flashMessages.error}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    <div class="row">
        <h4>Your Profile</h4>
        <hr>
        <p>Welcome to the MongoDB Student Developer Pack, part of the GitHub Student Developer Pack. Below, you will find your personal codes and benefits of participation.</p>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group form-group-lg align-items-center">
                <label for="username" class="col-form-label">User Name*</label>
                <input id="username" name="username" placeholder="Username" class="form-control here"
                    required="required" type="text" value="{{user.github.username}}" disabled>
            
                <label for="name" class="col-form-label">Full Name</label>
                <input id="name" name="name" placeholder="Full Name" class="form-control here" type="text"
                    value="{{user.github.name}}" disabled>
            
                <label for="email" class="col-form-label">Email*</label>
                <input id="email" name="email" placeholder="Email" class="form-control here" required="required"
                    type="text" value="{{user.github.email}}" disabled>
            </div>
        </form>
    </div>
    <div class="row">
        <h4>MongoDB Student Pack Benefits</h4>
        <hr>
        <div class="form-group form-group-lg align-items-center">
            <h5>MongoDB Personal Atlas Credits</h5>
            <hr>
            <p>MongoDB is a general purpose, document-based, distributed database built for modern application developers and for the cloud era. No database makes you more productive. Use the code below to get $200.00 </p>
            {{#if user.atlas.code}}
            <form class="atlas_code" id="atlas_code" aria-labelledby="atlas_code" action="#" accept-charset="UTF-8" method="post">
                <dl class="form-group">
                    <dt><label id="atlas_code" for="atlas_code">Your personal Atlas Promo Code</label></dt>
                    <dd>
                        <input value="{{user.atlas.code}}" id="atlas_code" class="form-control short" disabled type="text" name="atlas_code">
                    </dd>
                </dl>
            </form>
            {{else}}
            <div class="extended-markdown note border rounded-1 mb-4 p-3 border-blue bg-blue-light f5">
                <p><strong>Note</strong>: Your Atlas Promotional Code has not been created yet. Please check back shortly.</p>
            </div>
            {{/if}}
        </div>
        <div class="form-group form-group-lg align-items-center">
            <h5>MongoDB Compass</h5>
            <hr>
            <p>MongoDB Compass is the GUI for MongoDB. Compass allows you to
            analyze and understand the contents of your data without
            formal knowledge of MongoDB query syntax. In addition to
            exploring your data in a visual environment, you can also use
            Compass to optimize query performance, manage indexes, and
            implement document validation.</p>
            <button name="submit" type="submit" href="https://www.mongodb.com/download-center/compass"
                class="btn btn-primary">Download Compass</button>
        </div>
        <div class="form-group form-group-lg align-items-center">
            <h5>MongoDB University On-Demand</h5>
            <hr>
            <p>All of our MongoDB University training courses - from beginner
            to advanced - are completely free for anyone and everyone. As
            part of the on-demand program you are able to take the courses
            at your leisure rather than having to adhere to our normal
            course schedule.</p>
            <form class="university_license" id="university_license" aria-labelledby="atlas_code" action="#" accept-charset="UTF-8" method="post">
                <dl class="form-group">
                    <dt><label id="university_license" for="university_license">Your personal MongoDB University License Code</label></dt>
                    <dd>
                        <input id="university_license" class="form-control short" disabled value="2e2aaefd-32ce-453c-be4d-ac0090c0a5c0" type="text" name="university_license">
                    </dd>
                </dl>
            </form>
            <button name="submit" type="submit" href="http://university.mongodb.com/license/activate?key=2e2aaefd-32ce-453c-be4d-ac0090c0a5c0" class="btn btn-primary">Access
                Activate MongoDB University On-Demand</button>
                
        </div>
    </div>
</div>